spring:
  application:
    name: lanes
  jwt:
    secret: ${JWT_SECRET}
  datasource:
    username: irtiza
    password: password
    url: jdbc:postgresql://localhost:5432/spring_lanes_db
    driver-class-name: org.postgresql.Driver

  jpa:
    show_sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false